Patterns/.vs/
Patterns/packages/
Patterns/SimpleStatePattern/obj/
Patterns/SimpleStatePattern/bin/
Patterns/Tests/bin/
Patterns/Tests/obj/
Patterns/UsageExamples/bin/
Patterns/UsageExamples/obj/
Network/.vs/
Network/Common/bin/
Network/Common/obj/
Network/packages/
Network/TCP_Transport/obj/
Network/TCP_Transport/bin/
Network/Tests/obj/
Network/Tests/bin/
Network/TestServer/bin/
Network/TestServer/obj/
Network/UsageExample/obj/
Network/UsageExample/bin/
