Patterns/SimpleStatePattern/Tests/bin/
Patterns/SimpleStatePattern/Tests/obj/
Patterns/SimpleStatePattern/Source/.vs/
Patterns/SimpleStatePattern/Source/bin/
Patterns/SimpleStatePattern/Source/obj/
Patterns/SimpleStatePattern/Source/packages/
